[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "vienna"]
	path = vienna
	url = https://github.com/code-shoily/vienna
[submodule "themes/vienna"]
	path = themes/vienna
	url = https://github.com/code-shoily/vienna
